PORT= # E.g. 3000
USER_SERVICE_HOST= # E.g. localhost
ADMIN_SERVICE_HOST= # E.g. localhost
POST_SERVICE_HOST= # E.g. localhost
KAFKA_HOST= # E.g. localhost
KAFKA_PORT= # E.g. 29092
SECRET= # E.g. secret