DB_NAME= # E.g. user-service
DB_USER= # E.g. postgres
DB_PASSWORD= # E.g. postgres
SECRET= # E.g. secret
TCP= # E.g. 3500
DB_HOST= # E.g. localhost
PORT= # E.g. 3501
USER_SERVICE_HOST= # E.g. localhost